@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.hero-title{
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

@media (max-width: 768px) {
    .hero-title{
        font-size: 2rem;
    }
}

.paypal{
    transform: scale(1.1);
}
.tawk-mobile{
    display: none !important;
}